@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: #222225;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
table {
  background-color: rgb(40, 40, 40);
  border-radius: 20px;
  padding: 10px;
  height: 90vh;
  aspect-ratio: 10/16;

  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.562);
}

tr, td {
  padding: 2px;
}

button {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height:100%;
  background-color: rgb(24,24,24);
  color: white;
  border: 0;
  border-radius: 10px;
  font-size: 1em;
  box-shadow: 2px 2px 0px black, 2px 2px 5px rgba(0, 0, 0, 0.863);
}

button:hover {
  background-color: rgb(28,28,28);
  cursor: pointer;
}

button:active {
  transform: translate(1px,1px);
  box-shadow: 1px 1px 0px black, 1px 1px 5px rgba(0, 0, 0, 0.863);
  transition: all 0.1s ease-in-out;
}

input {
  text-align: right;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height:100%;
  background-color: rgb(24,24,24);
  color: white;
  border: 0;
  border-radius: 10px;
  font-size:larger;
  box-shadow: inset 2px 2px 0px black;
}

@media only screen and (orientation: portrait) {
  table {
    height: 100vh;
    width: 100vw;
    aspect-ratio:inherit;
  }
  button:hover {
    background-color: rgb(24,24,24);
  }
  button:active {
    background-color: rgb(28,28,28);
  }
}